#ib-container { margin: 0px; padding: 30px; font-family:"Menlo", "Lucida Console", sans-serif; }
#ib-outer-points-container { border-style:solid; border-width:1px; border-color:#EEEEEE;}
#ib-outer-points-container-sub { padding:10px; }
#ib-points-container { padding:10px; }
#ib-function-container { padding:10px; }
#ib-objc { padding:10px; font-size:80%; padding-left:25px;}
#ib-objc .ib-sc-class { color: rgb(92,38,153); }
#ib-objc .ib-sc-method { color: rgb(46,13,101) }
#ib-objc .ib-sc-number { color: rgb(28,0,207); }